In [2]:
#!pip install matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('axes', axisbelow=True)

In [3]:
db = pd.read_csv("data/play_by_play_2023.csv")
db.head()

/var/folders/jq/z17b57lx55q8y9sr8pv9c4140000gn/T/ipykernel_51636/1542154189.py:1: DtypeWarning: Columns (45,179,180,182,183,189,190,197,198,203,204,205,206,218,219,220,222,224,226,253,254,255,260,262,263,283,284,332) have mixed types. Specify dtype option on import or set low_memory=False.
  db = pd.read_csv("data/play_by_play_2023.csv")

,play_id,old_game_id,week,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,quarter_end,drive,sp,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
count,49665.000000,4.966500e+04,49665.000000,46205.000000,49660.000000,49660.000000,49660.000000,49665.000000,49098.000000,49665.000000,...,49665.000000,49665.000000,49095.000000,17227.000000,17227.000000,17227.000000,17227.000000,17227.000000,37935.000000,36908.000000
mean,2179.316984,2.023197e+09,9.931219,48.958814,410.294543,806.015445,1711.851128,0.017497,11.580512,0.072606,...,0.087124,0.486117,-0.018967,0.742935,5.576327,3.732281,0.773761,0.576909,0.630122,-0.863530
std,1266.910386,2.698698e+05,5.601549,24.215457,282.918849,559.504793,1057.558022,0.131116,6.770356,0.259492,...,0.282019,0.499812,1.249466,0.553104,2.581317,2.653193,0.254653,0.355669,0.239563,42.286577
min,1.000000,2.023091e+09,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,-12.443874,-3.181688,0.500240,0.000000,0.047072,0.009905,0.017802,-99.123466
25%,1093.000000,2.023101e+09,5.000000,32.000000,144.000000,279.000000,795.000000,0.000000,6.000000,0.000000,...,0.000000,0.000000,-0.568591,0.324769,3.761915,2.000000,0.554866,0.242522,0.458300,-42.216352
50%,2165.000000,2.023111e+09,10.000000,51.000000,390.000000,792.000000,1800.000000,0.000000,11.000000,0.000000,...,0.000000,0.000000,0.000000,0.612804,4.651687,3.000000,0.982330,0.476261,0.600256,4.065150
75%,3249.000000,2.023122e+09,15.000000,70.000000,656.000000,1285.000000,2604.000000,0.000000,17.000000,0.000000,...,0.000000,1.000000,0.491979,1.024880,7.029191,5.000000,1.000000,0.999280,0.859109,33.784997
max,5340.000000,2.024021e+09,22.000000,99.000000,900.000000,1800.000000,3600.000000,1.000000,34.000000,1.000000,...,1.000000,1.000000,8.882384,6.536676,20.790250,30.000000,1.000000,1.000000,0.996666,97.588157

In [4]:
db.columns

Index(['play_id', 'game_id', 'old_game_id', 'home_team', 'away_team',
       'season_type', 'week', 'posteam', 'posteam_type', 'defteam',
       ...
       'out_of_bounds', 'home_opening_kickoff', 'qb_epa', 'xyac_epa',
       'xyac_mean_yardage', 'xyac_median_yardage', 'xyac_success', 'xyac_fd',
       'xpass', 'pass_oe'],
      dtype='object', length=372)

In [14]:
clean = db[['home_team', 'away_team', 'total_home_score', 'total_away_score', 'yrdln',
            'posteam', 'ydstogo', 'down',
            'game_seconds_remaining', 'time', 'ep', 'epa']]
clean.head()

,home_team,away_team,total_home_score,total_away_score,yrdln,posteam,ydstogo,down,game_seconds_remaining,time,ep,epa
0,WAS,ARI,0,0,ARI 35,NaN,0,NaN,3600.0,15:00,1.474098,0.000000
1,WAS,ARI,0,0,ARI 35,WAS,0,NaN,3600.0,15:00,1.474098,0.000000
2,WAS,ARI,0,0,WAS 25,WAS,10,1.0,3600.0,15:00,1.474098,-0.336103
3,WAS,ARI,0,0,WAS 28,WAS,7,2.0,3570.0,14:30,1.137994,0.703308
4,WAS,ARI,0,0,WAS 34,WAS,1,3.0,3535.0,13:55,1.841302,0.469799

In [19]:
clean = clean[clean['home_team'] == 'LV']
clean = clean[clean['away_team'] == 'DEN']
clean.head(35)

,home_team,away_team,total_home_score,total_away_score,yrdln,posteam,ydstogo,down,game_seconds_remaining,time,ep,epa
45558,LV,DEN,0,0,LV 35,NaN,0,NaN,3600.0,15:00,1.008251,0.000000
45559,LV,DEN,0,0,LV 35,DEN,0,NaN,3600.0,15:00,1.008251,0.489941
45560,LV,DEN,0,0,DEN 32,DEN,10,1.0,3594.0,14:54,1.498192,-0.566192
45561,LV,DEN,0,0,DEN 32,DEN,10,2.0,3588.0,14:48,0.932000,-1.189203
45562,LV,DEN,0,0,DEN 31,DEN,11,3.0,3545.0,14:05,-0.257203,-1.279670
45563,LV,DEN,0,0,DEN 31,DEN,11,4.0,3540.0,14:00,-1.536873,0.104160
45564,LV,DEN,0,0,LV 21,LV,10,1.0,3531.0,13:51,1.432713,-1.455814
45565,LV,DEN,0,0,LV 15,LV,16,2.0,3489.0,13:09,-0.023102,-0.874482
45566,LV,DEN,0,0,LV 15,LV,16,3.0,3485.0,13:05,-0.897584,-0.644972
45567,LV,DEN,0,0,LV 23,LV,8,4.0,3445.0,12:25,-1.542555,1.403407
45568,LV,DEN,0,0,DEN 11,DEN,10,1.0,3436.0,12:16,0.139149,0.269945
45569,LV,DEN,0,0,DEN 18,DEN,3,2.0,3397.0,11:37,0.409094,0.279484
45570,LV,DEN,0,0,DEN 22,DEN,10,1.0,3351.0,10:51,0.688577,-0.568212
45571,LV,DEN,0,0,DEN 23,DEN,9,2.0,3307.0,10:07,0.120366,-0.776198
45572,LV,DEN,0,0,DEN 23,DEN,9,3.0,3302.0,10:02,-0.655832,-1.376060
45573,LV,DEN,0,0,DEN 23,DEN,9,4.0,3298.0,09:58,-2.031892,0.753801
45574,LV,DEN,0,0,LV 22,LV,10,1.0,3287.0,09:47,1.278091,-0.020531
45575,LV,DEN,0,0,LV 26,LV,6,2.0,3248.0,09:08,1.257561,1.156698
45576,LV,DEN,0,0,LV 38,LV,10,1.0,3210.0,08:30,2.414258,0.800147
45577,LV,DEN,0,0,LV 47,LV,1,2.0,3167.0,07:47,3.214405,-0.118741
45578,LV,DEN,0,0,LV 49,LV,10,1.0,3121.0,07:01,3.095664,0.486590
45579,LV,DEN,0,0,DEN 46,LV,5,1.0,3099.0,06:39,3.582254,0.149348
45580,LV,DEN,0,0,DEN 40,LV,10,1.0,3058.0,05:58,3.731602,-0.496683
45581,LV,DEN,0,0,DEN 38,LV,8,2.0,3012.0,05:12,3.234919,-0.874843
45582,LV,DEN,0,0,DEN 38,LV,8,3.0,3006.0,05:06,2.360076,2.122856
45583,LV,DEN,0,0,DEN 28,LV,10,1.0,2968.0,04:28,4.482932,0.466898
45584,LV,DEN,0,0,DEN 20,LV,2,2.0,2927.0,03:47,4.949830,0.415730
45585,LV,DEN,0,0,DEN 14,LV,10,1.0,2888.0,03:08,5.365560,-0.331379
45586,LV,DEN,0,0,DEN 11,LV,7,2.0,2851.0,02:31,5.034181,0.488634
45587,LV,DEN,6,0,DEN 5,LV,1,3.0,2813.0,01:53,5.522815,1.477185
45588,LV,DEN,7,0,DEN 15,LV,0,NaN,2804.0,01:44,0.948828,0.051172
45589,LV,DEN,7,0,LV 35,DEN,0,NaN,2804.0,01:44,1.152743,-0.581814
45590,LV,DEN,7,0,DEN 16,DEN,10,1.0,2800.0,01:40,0.570929,-0.406475
45591,LV,DEN,7,0,DEN 19,DEN,7,2.0,2764.0,01:04,0.164454,2.863282
45592,LV,DEN,7,0,LV 45,DEN,10,1.0,2722.0,00:22,3.027735,-0.527877